<div>
    <h2 id="page-heading">
        <span jhiTranslate="yikondiAppliApp.speciality.home.title">Specialities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-speciality" [routerLink]="['/speciality/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="yikondiAppliApp.speciality.home.createLabel">
            Create a new Speciality
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="specialities?.length === 0">
        <span jhiTranslate="yikondiAppliApp.speciality.home.notFound">No specialities found</span>
    </div>
    <div class="table-responsive" *ngIf="specialities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="yikondiAppliApp.speciality.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="yikondiAppliApp.speciality.description">Description</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let speciality of specialities ;trackBy: trackId">
                <td><a [routerLink]="['/speciality', speciality.id, 'view' ]">{{speciality.id}}</a></td>
                <td>{{speciality.name}}</td>
                <td>{{speciality.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/speciality', speciality.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/speciality', speciality.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(speciality)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
