<div>
    <h2 id="page-heading">
        <span jhiTranslate="yikondiAppliApp.medicalPrescriptionDrug.home.title">Medical Prescription Drugs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-prescription-drug" [routerLink]="['/medical-prescription-drug/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="yikondiAppliApp.medicalPrescriptionDrug.home.createLabel">
            Create a new Medical Prescription Drug
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="medicalPrescriptionDrugs?.length === 0">
        <span jhiTranslate="yikondiAppliApp.medicalPrescriptionDrug.home.notFound">No medicalPrescriptionDrugs found</span>
    </div>
    <div class="table-responsive" *ngIf="medicalPrescriptionDrugs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="yikondiAppliApp.medicalPrescriptionDrug.dosage">Dosage</span></th>
            <th scope="col" ><span jhiTranslate="yikondiAppliApp.medicalPrescriptionDrug.medicalPrescription">Medical Prescription</span></th>
            <th scope="col" ><span jhiTranslate="yikondiAppliApp.medicalPrescriptionDrug.drug">Drug</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medicalPrescriptionDrug of medicalPrescriptionDrugs ;trackBy: trackId">
                <td><a [routerLink]="['/medical-prescription-drug', medicalPrescriptionDrug.id, 'view' ]">{{medicalPrescriptionDrug.id}}</a></td>
                <td>{{medicalPrescriptionDrug.dosage}}</td>
                <td>
                    <div *ngIf="medicalPrescriptionDrug.medicalPrescription">
                        <a [routerLink]="['/medical-prescription', medicalPrescriptionDrug.medicalPrescription?.id, 'view' ]" >{{medicalPrescriptionDrug.medicalPrescription?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="medicalPrescriptionDrug.drug">
                        <a [routerLink]="['/drug', medicalPrescriptionDrug.drug?.id, 'view' ]" >{{medicalPrescriptionDrug.drug?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/medical-prescription-drug', medicalPrescriptionDrug.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medical-prescription-drug', medicalPrescriptionDrug.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(medicalPrescriptionDrug)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
